* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    width: 100%;
    height: 100vh;
    background-image: url(bg-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

section .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
    width: 300px;
    padding: 1em;
    /* background-color: rgba(0, 0, 0, 0.247); */
 
}

section .container .header {
    background-color: white;
    height: 40px;
    width: fit-content;
    margin: auto;
    margin-bottom: 1em;
    overflow: hidden;
    text-align: center;
}

section .container .header h3 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5em;
    font-weight: 600;
}

section .container .heading {
    padding: 1em;
    background-color: whitesmoke;
}

section .container .heading input {
    padding: 0.5em 0.9em;
    margin: 0 0.05em;
    display: inline-block;
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 30px;
    

}

section .container .heading input:focus{
    outline: red;
}

section .container .heading #add-task {
    padding: 0 0.3em;
    font-size: 1.5rem;
    color: whitesmoke;
    height: 30px;
    margin-left: 0.5em;
    border: none;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.623);
}


section .container .heading #add-task:hover {
    background-color: rgb(214, 210, 210);
    color: rgb(3, 224, 51);
}

section .container .list-container {
    height: 158px;
    width: 100%;
    margin: 0.5em 0 0 0;
    padding: 0.5em;
    background-color: whitesmoke; 
    overflow-y: scroll;
    overflow-x: hidden;
    
}

.new-list-container {
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0.3em;
    padding: 0.5em;
    background-color: white;
}

.list-style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    padding: 0.5em;
    color: black;
    width: 70%;
    background-color: white;
    border: none;
    box-shadow: 0px 0px 2px black;
    list-style-type: none;
    height: 50%;
}

.btn-js {
    padding: 0.5em 1em;
    margin: 0 0.2em;
    border: none;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.863);
    background-color: rgba(0, 0, 0, 0.423);
}

.btn-js:hover {
    background-color: rgb(214, 210, 210);
    color: gray;
    
}

@media  screen and (min-width: 450px) {
    section .container {
        width: 400px;
    }
    
}